/* ----- Variables ----- */
 #4c4c4c: #4c4c4c;
#a6a6a6: #a6a6a6;
 #ff3f40: #ff3f40;
/* ----- Global ----- */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 1fr;
    font-family: "Raleway", sans-serif;
    background-color: #01e37f;
}

h3 {
    font-size: 0.7em;
    letter-spacing: 1.2px;
    color: #a6a6a6;
}

img {
    padding:5px;
    margin:auto ;
    width:300px;
    height:350px;
    filter: drop-shadow(1px 1px 3px #a6a6a6);
}

/* ----- Product Section ----- */
.product {
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    margin: 10px;
    padding: 2.5em 0;
    width: max-content;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    place-items: center;
    margin-inline:auto;
}

/* ----- Photo Section ----- */
.product__photo {
    position: relative;
    left:5px;
    top:30px;
}

.photo-container {
    padding:5px;
    position: relative;
    margin:auto 5px;
    display: grid;
    grid-template-rows: 1fr;
    width: max-content;
    height:max-content;
    border-radius: 6px;
    gap:5px;
    box-shadow: 4px 4px 25px -2px rgba(0, 0, 0, 0.3);
}

.photo-main {
   
    border-radius: 6px 6px 0 0;
    background-color: #9be010;
    background: radial-gradient(#e5f89e, #96e001);
    text-align:center;
 .controls{
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    color: #fff;
    
    i{
    cursor: pointer;
    }

}

    img {
        position: absolute;
        left: -3.5em;
        top: 2em;
        max-width: 110%;
        filter: saturate(150%) contrast(120%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
    }

}



/* ----- Informations Section ----- */
.product__info {
    padding: 8px 50px;
}

.title {
    h1{
        margin-bottom: 0.1em;
        color:  #4c4c4c;
        font-size: 1.5em;
        font-weight: 900;
    }

    span {
        font-size: 0.7em;
        color: #a6a6a6;
    }

}

.price {
    margin: 1.5em 0;
    color:  #ff3f40;
    font-size: 20px;
    
    span{
        padding-left: 0.15em;
       
    }

}

.variant {
    overflow: auto;
    
    h3{
    margin-bottom: 1.1em;
    }

    
}

.description {
    clear: left;
    margin: 2em 0;
    
    h3{
        margin-bottom: 1em;
    }
    

}


.buy--btn {
    border: none;
    padding: 5px;
    background-color: #ff3f40;
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;
}

/*.buy--btn, #AddToCart {
    padding: 1.5em 3.1em;
    
    border-radius: 7px;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 1.3px;
    color: #fff;
    background-color:  #ff3f40;
    box-shadow: 2px 2px 25px -7px  #4c4c4c;
    cursor: pointer;
    &:active{
        transform: scale(0.97);
    }

}*/


